body {
  background-color: #e7F6F2;
}

h1 {
  color: #2c3333;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
  

h2 {
  text-align: center;
  color: #2c3333;
  font-family: 'Courier New', Courier, monospace;
}